:root {
    --pimary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196f3;
    --address-color: rgba(255, 255, 255, 0.6);
    --bg-color: #2F303A;
    --bg-btn: #F5F4FA;
    --bg-soc-link: rgba(255, 255, 255, 0.1);
    --white: #FFFFFF;
    --black: #000000;
    --border: #ECECEC;
    --soc-icon: #AFB1B8;
    --border-card: 1px solid #EEEEEE;
    --gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    --cards-set-gap: 30px;
    --cards-item: 3;
    --box-shadow-team: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --box-shadow-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    --box-shadow-filt-but: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    --box-shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --box-shadow-modal-btn: px 4px 4px rgba(0, 0, 0, 0.15);
    --team-br: 0px 0px 4px 4px;
    --modal-bg: rgba(0, 0, 0, 0.2);
    --transition-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --input-border: rgba(33, 33, 33, 0.2);
}
    
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);}

h1,
h2,
h3,
ul,
p {
    padding: 0;
    margin: 0;}

img {
    display: block;
    max-width: 100%;
    height: auto;}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;}

.section {
    padding-top: 94px;
    padding-bottom: 94px;}

.title {
    color: var(--pimary-color);}

.list {
    list-style: none;}

.link {
    text-decoration: none;
    color: currentColor;}



/*HEADER*/
.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid var(--border);}

.header__container{
    display: flex;
    align-items: center;}

.site-nav {
    display: flex;
    align-items: center;}

.header .logo{
    margin-right: 93px;}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color)}

.logo__black {
    color: var(--black)}

.site-nav__list {
    display: flex;
    color: var(--pimary-color);}

.site-nav__item:not(:last-child){
    margin-right: 50px;}

.site-nav__link--active {
    color: var(--accent-color);
    position: relative;}

.site-nav__link--active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);}


.site-nav__list .link:hover,
.site-nav__list .link:focus {
    color: var(--accent-color);}

.nav-contacts {
    display: inline-flex;
    margin-left: auto;}

.nav-contacts__item:not(:last-child){
    margin-right: var(--cards-set-gap);}

.nav-contacts__link:hover,
.nav-contacts__link:focus {
    color: var(--accent-color);}

.site-nav__link,
.nav-contacts__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-effect);
}

.tel-icon{
    width: 10px;
    height: 16px;}

.mail-icon{
    width: 16px;
    height: 12px;}

.nav-contacts__icon{
    display: block;
    content: '';
    fill: currentColor;
    align-self: center;
    margin-right: 10px;}


/*HERO*/
.hero,
.footer {
    background-color: var(--bg-color)}

.hero{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: var(--gradient),
            url(../images/main-fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;}

.hero__title {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);}

.btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    padding: 10px 30px;
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow-modal-btn);
    border-radius: 4px;
    border: none;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--white);
    cursor: pointer;
    transition: background-color var(--transition-effect);}

.btn:hover,
.btn:focus{
    background-color: #188CE8;
}

    
/*BENEFITS*/
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

.cards-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--cards-set-gap);
    /* margin-top: calc(-1 * var(--cards-set-gap));
    margin-left: calc(-1 * var(--cards-set-gap)); */
}

.cards-set__item {
    flex-basis: calc((100% - (var(--cards-item) - 1) * var(--cards-set-gap)) / var(--cards-item));
    /* margin-top: var(--cards-set-gap);
    margin-left: var(--cards-set-gap); */
}

.benefits__thumb{
    display: flex;
    padding: 25px 100px;
    background-color: var(--bg-btn);
    border-radius: 4px;
    margin-bottom: var(--cards-set-gap);
    align-items: center;
    justify-content: center;}

.benefits__list,
.team__list{
    --cards-item: 4;}

.benefits__title,
.footer-follow {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;}

/*WORK*/
.work{
    padding-top: 0;}

.section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--pimary-color);
    margin-bottom: 50px;}

.work__list .cards-set__item{
    position: relative;}

.work__text{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);}

/*TEAM*/
.section-team{
    padding-bottom: 92px;}

.team{
    background-color: var(--bg-btn);}

.team__item {
    background-color: var(--white);
    border-radius: var(--team-br);
    box-shadow: var(--box-shadow-team)}

.team__title,
.team__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;}
    
.team__title {
    margin-bottom: 10px;
    font-weight: 500;}

.team__content {
    padding: 30px;}

.team__text{
    margin-bottom: 16px;}

.social-list{
    --cards-item: 4;
    --cards-set-gap: 10px;}

.social-list__link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--soc-icon);
    background-color: var(--bg-soc-link);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: color var(--transition-effect), background-color var(--transition-effect);}

.social-list__link:hover,
.social-list__link:focus{
    color: var(--white);
    background-color: var(--accent-color);}


/*CLIENTS*/
.clients__list{
    --cards-item: 6;}

.clients__link {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 14px 29px;
    color: var(--soc-icon);
    border: 1px solid var(--soc-icon);
    border-radius: 4px;
    transition: color var(--transition-effect), border var(--transition-effect);}

.clients__icon,
.social-list__icon,
.field__icon {
    display: block;
    content: '';
    fill: currentColor;}

.clients__link:hover,
.clients__link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);}


/*FOOTER*/
.footer{
    padding-top: 60px;
    padding-bottom: 60px;}

/* .footer .container{
    display: flex;} */

.footer__list {
    display: flex;
    gap: 70px;
    align-items: baseline;}

.footer__item:last-child{
    margin-left: auto;
}

.footer .logo{
    margin-bottom: 20px;
    display: inline-block;}

.logo__white {
    color: var(--white);}

.adress {
    color: var(--address-color);
    font-style: inherit;}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;}

.footer-contacts__item .link{
    transition: color var(--transition-effect);}

.street {
    font-style: normal;
    color: var(--white);}

.street:hover,
.street:focus {
    color: var(--accent-color);}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
    color: var(--accent-color);}

.subscription__follow{
    display: block;
    margin-bottom: 20px;
    color: var(--white);}

.footer .social-list__link{
    color: var(--white);
    transition: background-color var(--transition-effect);}

.subscribe-form{
    display: flex;
    align-items: center;}

.subscribe-form__input{
    width: 358px;
    height: 50px;

    margin-right: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--address-color);

    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.subscribe-form__input:hover,
.subscribe-form__input:focus{
    border-color: var(--accent-color);}

.subscribe-form__icon{
    display: block;
    margin-left: 10px;}


/*ПОРТФОЛИО*/
/*BTNS*/
.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;}

.filters__item:not(:last-child) {
    margin-right: 8px;}

.filters__button {
    padding: 6px 22px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--pimary-color);
    background-color: var(--bg-btn);
    border: none;
    border-radius: 4px;
    transition: color var(--transition-effect), background-color var(--transition-effect), box-shadow var(--transition-effect);
}

.filters__button:hover,
.filters__button:focus {
    color: var(--white);
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow-filt-but);}


/*PORTFOLIO*/
.cards__link{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    transition: box-shadow var(--transition-effect);
}

.cards__link:hover,
.cards__link:focus { 
    box-shadow: var(--box-shadow-portfolio);}

.cards__content {
    padding: 20px 24px;
    border: var(--border-card);}

.cards__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--pimary-color);}

.cards__text {
    font-size: 16px;
    line-height: 1.88;}

.cards__overlay{
    position: relative;
    overflow: hidden;}

.cards__link:hover .cards__overlayed,
.cards__link:focus .cards__overlayed{
    transform: translatey(0);
    opacity: 1;}

.cards__overlayed{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    
    padding: 63px 24px; 
    
    color: var(--white);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    opacity: 0;
    transition: var(--transition-effect);}


/* BACKDROP */
    
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition-effect), visibility var(--transition-effect);}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;}

/* MODAL */

.modal {
    transform: translate(-50%, -50%) scale(0);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    padding: 40px;
    background: var(--white);
    box-shadow: var(--box-shadow-modal);
    border-radius: 4px;
    transition: transform var(--transition-effect);
}

.close-btn {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    padding: 5px;

    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    align-items: center;
    justify-content: center;

    transform: translate(-8px, 8px);
    transition: color var(--transition-effect);
}

.close-btn:hover,
.close-btn:focus {
    color: var(--accent-color);
    cursor: pointer;
}

.close-btn__icon {
    content: '';
    width: 18px;
    height: 18px;
    fill: currentColor;
    transition: color var(--transition-effect);
}


.modal-form__text {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--pimary-color);
}

.modal-form__label {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-color);
}

.modal-field {
    position: relative;
    margin-bottom: 10px;
}

.modal-field__input {
    display: block;
    width: 100%;
    height: 40px;
    padding-top: 11px;
    padding-left: 42px;
    padding-bottom: 11px;

    border: 1px solid var(--input-border);
    border-radius: 4px;
    outline: none;
    transition: border-color var(--transition-effect);
}

.modal-field__input:hover,
.modal-field__input:focus-within {
    border-color: var(--accent-color);
    cursor: pointer;
}

.modal-field__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: currentColor;
    color: var(--pimary-color);
    transition: color var(--transition-effect);
}

.modal-field:focus-within .modal-field__icon,
.modal-field:hover .modal-field__icon {
    color: var(--accent-color);
}

.modal-form__comments {
    display: block;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    outline: none;

    line-height: 1.14;
    letter-spacing: 0.01em;
    transition: border-color var(--transition-effect);
}

.modal-form__comments::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-form__comments:hover,
.modal-form__comments:focus {
    border-color: var(--accent-color);
    cursor: pointer;
}

.modal-form__policy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox__custom {
    display: inline-block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 1.5px solid var(--pimary-color);
    border-radius: 2px;
    transition: border var(--transition-effect);
}

.checkbox:checked+.checkbox__custom {
    background-color: #2196f3;
    background-image: url(../images/icons/checked.svg);
    background-size: contain;
    background-origin: border-box;
}

.checkbox:hover+.checkbox__custom,
.checkbox:focus+.checkbox__custom {
    border: 1.5px solid var(--accent-color);
}

.modal-form__link {
    text-decoration-line: underline;
    color: var(--accent-color);
}