/*BTNS*/
.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filters__item{

&:not(:last-child) {
    margin-right: 8px;}
}

.filters__button {
    padding: 6px 22px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: $primary-color;
    background-color: $bg-btn;
    border: none;
    border-radius: 4px;
    transition: color $transition-effect, background-color $transition-effect, box-shadow $transition-effect;

&:hover, &:focus{
    color: $white;
    background-color: $accent-color;
    box-shadow: $box-shadow-filt-but;}
}