:root{
--cards-item: 3;
--cards-set-gap: 30px;
}

$primary-color: #212121;
$secondary-color: #757575;
$accent-color: #2196f3;
$address-color: rgba(255, 255, 255, 0.6);
$bg-color: #2F303A;
$bg-btn: #F5F4FA;
$bg-soc-link: rgba(255, 255, 255, 0.1);
$white: #FFFFFF;
$black: #000000;
$border: #ECECEC;
$soc-icon: #AFB1B8;
$border-card: 1px solid #EEEEEE;
$gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

$box-shadow-team: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
$box-shadow-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
$box-shadow-filt-but: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
$box-shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
$box-shadow-modal-btn: px 4px 4px rgba(0, 0, 0, 0.15);
$team-br: 0px 0px 4px 4px;
$modal-bg: rgba(0, 0, 0, 0.2);
$transition-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$input-border: rgba(33, 33, 33, 0.2);