/*SECTION CLIENTS*/

.clients__list {
    --cards-item: 6;
}

.clients__link {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 14px 29px;
    color: $soc-icon;
    border: 1px solid $soc-icon;
    border-radius: 4px;
    transition: color $transition-effect, border $transition-effect;

&:hover, &:focus{
    color: $accent-color;
    border: 1px solid $accent-color;;    
    }
}

.clients__icon{
    display: block;
    content: '';
    fill: currentColor;
}